/* box-sizing est appliqué à tous les éléments */

* { 
    box-sizing: border-box; 
}

body {
    font-family: $primary-font;
    margin: 40px 100px 0 100px;
    min-height: 100%;
}

@media screen and (max-width: 768px) {

    body {
        margin: 0;
    }
}