/* box-sizing est appliqué à tous les éléments */

* { 
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
    font-family: $primary-font;
    font-weight: 500;
}

html {
    height: 100%;
} 

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 209px;
}

.container {
    margin: 20px 100px;
}


@media screen and (max-width: 998px) {
    .container {
        margin: 0 20px;
    }
}