/* Polices du site */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
$primary-font: 'Montserrat', sans-serif;
$body-font-size: 16px;
$nav-font-size: 24px;
$banner-font-size: 48px;

/* Couleurs du site */

$primary-color: #FF6060;
$secondary-color: #F6F6F6;
$banner-title-color: #FFFFFF;
$footer-color: black;
$background-color: #E5E5E5;

/* Styles du site */
$border-radius: 25px;