.rentalsContentContainer {
    display: flex;
    flex-direction: row;
}

.infosContainer {
    width: 70%;

    .infos {
        color: $primary-color;
        text-align: left;
    
        h1 {
            font-size: $error-font-size;
            font-weight: 500;
            line-height: 51px;
            margin-top: 20px;
        }
    
        p {
            font-size: $card-font-size;
            font-weight: 500;
            line-height: 26px;
            margin-top: -40px;
        }
    }

}

.hostContainer {
    width: 30%;

    .host {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        margin-top: 20px;
    
        p {
            color: $primary-color;
            font-size: $card-font-size;
            line-height: 26px;
            text-align: right;
            height: 52px;
            width: 93px;
            margin-right: 10px;
        }
    
        & img {
            background-color: $picture-background-color;
            border-radius: 50%;
            width: 64px;
            height: 64px;
            background-size: contain;
        }
    }
   
}

//@media screen and (max-width: 768px) {

@media screen and (max-width: 768px) {

    .rentalsContentContainer {
        flex-direction: column;
        margin: 20px 20px 0 20px;
    }
    
    .infosContainer {
        width: 100%;

        .infos {
            text-align: left;

            h1 {
                font-size: $card-font-size;
                line-height: 26px;
            }

            p {
                font-size: $tags-font-size;
                line-height: 20px;
                margin-top: -15px;
            }

        }
    }

    .hostContainer {
        width: 100%;

        .host {

            p {
                font-size: $responsive-font-size;
                height: 33px;
                width: 93px;
            }
            
            & img {
                height: 32px;
                width: 32px;
            }
        }
    }

}


