.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: $border-radius;
    background-color: $secondary-color;
    margin-top: 40px;
    padding: 20px;

    &__element {
        position: relative;
        display: flex;
        height: 340px;
        width: 340px;
        margin: 20px;
        cursor: pointer;
        background-color: $primary-color;
        border-radius: $card-radius;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: $card-radius;
        @include backgroundshadow;
    }

    &__title {
        position: absolute;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        width: 300px;
        height: 52px;
        font-size: $card-font-size;
        font-weight: 500;
        line-height: 25.67px;
        color: $text-color;
        margin-left: 20px;
        bottom: 0;
        @include textshadow;
    }
}

@media screen and (max-width: 998px) {

    .card {

        &__element {
            height: 255px;
            width: 100%;
            margin: 20px 0 10px 0;
        
        }

        
    }
}

  @media screen and (max-width: 768px) {

    .card {
        background-color: transparent;
        margin-top: 0;

        &__element {
            height: 255px;
            width: 335px;
            margin: 20px 0 10px 0;
          
        }

        &__title {
            height: 52px;
            width: 250px;
            margin-left: 10px;
        }
    }

}

