.message {
    color: $primary-color;
    text-align: center;

    & h1 {
        font-size: $title-error-font-size;
        font-weight: 700;
        margin-top: 80px;
    } 
    
    & p {
        font-size: $error-font-size;
        font-weight: 500;
        line-height: 51px;
        margin-top: -240px;
        margin-bottom: 160px;
    }

    &__link {
        color: $primary-color;
        font-size: $card-font-size;
        font-weight: 500;
        line-height: 26px;
    }
    
}

@media screen and (max-width: 768px) {

    .message {
        margin: 20px 20px 100px 20px;

        & h1 {
            font-size: $responsive-error-font-size;
            margin-top: 200px;
        }

        & p {
            font-size: $card-font-size;
            margin-top: -80px;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            line-height: 25.67px;
        }

        &__link {
            font-size: $tags-font-size;
            line-height: 20px;
    
        }
    }
}