.stars {
    display: flex;
    justify-content: flex-end;

    & svg {
        margin-top: 15px;
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 767px) {
    .stars {
        justify-content: flex-start;
    
        & svg {
            margin-top: -35px;
            width: 15px;
            height: 15px;
        }
    }
}