.starsContentContainer {
    display: flex;
    justify-content: end;

    & svg {
        margin-left: 3px;
        margin-top: 3px;
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width: 768px) {
    .starsContentContainer {

        justify-content: start;
        margin-top: -40px;

        & svg {
            width: 15px;
            height: 15px;
        }
    }
}