.each-slide-effect {

  > div {
    width: 100%;
    height: 415px;
    border-radius: $border-radius;
    background-position-x: center;
    background-position-y: center;
    margin-top: 15px;
  }
  
} 

.react-slideshow-container {

  .default-nav {
    background: transparent !important;
    fill: white !important;
    scale: 300%;
    margin: 20px;
  
      &:hover {
        background: none;
      }
  }
  
}
 