.tags {
    color: $text-color;
    position: relative;


    &__content {
        display: flex;
        font-size: $tags-font-size;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
    }

    &__span {
        background-color: $primary-color;
        border-radius: $card-radius;
        height: 25px;
        width: 115px;
        margin-right: 20px;
        padding-top: 2px;
        
       

    }
    
}