.tags {
    color: $text-color;
    position: relative;

    &__content {
        display: flex;
        font-size: $tags-font-size;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
    }

    &__span {
        background-color: $primary-color;
        border-radius: $card-radius;
        height: 25px;
        width: 115px;
        margin-right: 20px;
        padding-top: 2px;
    }
    
}

@media screen and (max-width: 768px) {

    .tags {
        color: $text-color;
        position: relative;
    
        &__content {
            font-size: $responsive-tags-font-size;
        }
    
        &__span {
            border-radius: $collapsible-radius;
            height: 18px;
            width: 84px;
            padding-top: 0;
            margin-right: 10px;
        }

    }
}