.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
   
    &__image {
        object-fit: cover;
        width: 1240px;
        height: 223px;
        border-radius: $border-radius;
        filter: brightness(70%);
        background-color: black;
    }

    &__title {
        position: absolute;
        left: 25.9%;
        right: 25.14%;
        top: 24.32%;
        bottom: 69.04%;
        width: 705px;
        height: 68px;
        color: $banner-title-color;
        font-family: $primary-font;
        font-size: $banner-font-size;
        font-weight: 500;
        z-index: 2;
    }
}
    