.banner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
   
    &__image {
        object-fit: cover;
        max-height: 240px;
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
        filter: brightness(70%);
        background-color: black;
    }

    &__title {
        position: absolute;
        text-align: center;
        color: $text-color;
        font-family: $primary-font;
        font-size: $banner-font-size;
        font-weight: 500;
        z-index: 2;
    }
}
    