.footer {
        background-color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 209px;
        width: auto;
        margin: 40px -100px 0px -100px;

        &__logo {
                width: 122px;
                height: 39.44px;    
        }

        &__copyright {
                color: $text-color;
                font-size: $layout-font-size;
                margin-top: -50px;
        }
}
    
@media screen and (max-width: 768px) {
    
        .footer {
                margin: 40px 0 0 0;

                &__logo {
                        height: 39.5px;
                        width: 122px;
                }
    
                &__copyright {
                        font-size: $responsive-font-size;
                }
        }

}
        
