.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 210.32px;
        height: 68px;
    }

    &__nav {
        display: flex;
        padding: 0;
        list-style-type: none;
        
        & a {
            color: $primary-color;
            font-size: $layout-font-size;
            margin-left: 80px;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 998px) {

    .header {
        margin-bottom: 20px;
    }

  }

  @media screen and (max-width: 768px) {

    .header {
        margin: 20px 20px 0 20px;
        align-items: center;
        width: auto;

            &__logo {
                height: 47px;
                width: 145px;
            }

            &__nav {
                margin: 0;

                & a {
                    font-size: $responsive-font-size;
                    text-transform: uppercase;
                    margin: 0 0 0 10px;
                }
            }
    }

}